$borderProps: solid black 1px;
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
  // background-image: url("../img/avatar.jpeg");
  color: green;
  .navBarJSX {
    max-width: 200px;
    // height: 100%;
    margin-top: 80px;
    position: sticky;
    top: 0;
  }
  .navJSX {
    padding-left: 40px;
    a {
      color: green;
      text-decoration-line: none;
    }
    &:hover {
      background-color: silver;
      cursor: pointer;
    }
  }
  .current-link {
    background-color: gainsboro;
    font-weight: bold;
    &:hover {
      background-color: gainsboro;
    }
  }
  .paper-padd {
    padding: 10px;
  }
  .portfolio-header {
    background-color: #8bc34a;
    color: white;
    font-size: 15pt;
    position: fixed;
    top: 0px;
    width: 100%;
    img {
      margin: 5px;
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }
    span {
      // background-color: #4caf50;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 20px;
    }
    padding-left: 50%;
  }
  .portfolio-picture-panel {
    // border: $borderProps;
    position: fixed;
    padding-left: 49%;
  }
  .portfolio-flex-main-panel {
    margin-top: 80px;
    .portfolio-main-panel-child {
      margin: 5px;
      .header {
        background-color: whitesmoke;
        padding: 10px;
        font-weight: bold;
        font-size: 15pt;
        // text-align: center;
      }
      .body {
        color: black;
        padding: 10px;
        background-color: white;
        text-align: justify;
        text-justify: inter-word;
      }
    }
    .summary {
      max-width: 800px;
      img {
        width: 300px;
        height: 100px;
      }
    }
  }
}